# Example aliases
alias cdh='cd ~'
alias viz="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias vimrc="vim ~/.vimrc"
alias vikwm="vim ~/.kwm/kwmrc"
alias vikhd="vim ~/.khdrc"
alias vima="vim *.*"
alias rkwm="kwmc config reload"

# hace falta instalar terminal-notifier
alias notifyme='terminal-notifier -message "Done with task." ; say "Task completed."'
alias clc="clear"

alias reload!='source ~/.zshrc'

# alias matlab='/Applications/MATLAB_R2015b.app/bin/matlab -nodesktop'
# After installing rlwrap via brew install rlwrap
alias matlab='rlwrap -n -a -c /Applications/MATLAB_R2015b.app/bin/matlab -nodesktop'
# alias ipython='ipython3'
# alias ipy='ipython --nosep --logappend=~/.ipython/profile_default/ipython3_history.py --pylab=osx'
# Para usar tmux facilmente
alias tsh='tmux splitw -h' 
alias tsv='tmux splitw -v'

# Better (customized) ls
lsp() { 
    ls -lhG | awk -v PWD=$(basename $PWD) '{printf(">> %s %s/%s\n",$5,PWD,$9);}' | column -t
}

# CLI Weather by @igor_chubin
#   Usage: 
#           weather Paris
#           weather BuenosAires
#           weather [no arguments = local from ip address]
weather() {
    command curl wttr.in/"$@"
}

# Next one depends on installing 'brew install archey'
alias arch='archey -o'

